@tailwind base;
@tailwind components;
@tailwind utilities;

/* Palette: https://coolors.co/7737b5-ed2c62-379844-b9a740-534bde-000000-f05729-f89e36 */

@layer base {
  :root {
    /* Couleurs Thème Clair */
    --background: #F89E36; /* Orange/Jaune */
    --foreground: #000000; /* Noir */

    --card: #FFFFFF; /* Blanc (ajouté pour les cartes en mode clair) */
    --card-foreground: #534BDE; /* Bleu Violette */

    --popover: #FFFFFF; /* Blanc */
    --popover-foreground: #000000; /* Noir */

    --primary: #7737B5; /* Violet */
    --primary-foreground: #FFFFFF; /* Blanc */

    --secondary: #379844; /* Vert */
    --secondary-foreground: #FFFFFF; /* Blanc */

    --muted: #B9A740; /* Jaune */
    --muted-foreground: #000000; /* Noir */

    --accent: #ED2C62; /* Rouge/Pink */
    --accent-foreground: #FFFFFF; /* Blanc */

    --destructive: #F05729; /* Orange/Rouge */
    --destructive-foreground: #FFFFFF; /* Blanc */

    --border: #F89E36; /* Orange/Jaune */
    --input: #F89E36; /* Orange/Jaune */
    --ring: #F89E36; /* Orange/Jaune */

    --radius: 0.5rem;
  }

  .dark {
    /* Couleurs Thème Sombre */
    --background: #000000; /* Noir */
    --foreground: #F89E36; /* Orange/Jaune */

    --card: #1F1F1F; /* Gris Foncé (ajouté pour les cartes en mode sombre) */
    --card-foreground: #F89E36; /* Orange/Jaune */

    --popover: #1F1F1F; /* Gris Foncé */
    --popover-foreground: #F89E36; /* Orange/Jaune */

    --primary: #F89E36; /* Orange/Jaune */
    --primary-foreground: #000000; /* Noir */

    --secondary: #7737B5; /* Violet */
    --secondary-foreground: #FFFFFF; /* Blanc */

    --muted: #379844; /* Vert */
    --muted-foreground: #F89E36; /* Orange/Jaune */

    --accent: #ED2C62; /* Rouge/Pink */
    --accent-foreground: #000000; /* Noir */

    --destructive: #F05729; /* Orange/Rouge */
    --destructive-foreground: #000000; /* Noir */

    --border: #1F1F1F; /* Gris Foncé */
    --input: #1F1F1F; /* Gris Foncé */
    --ring: #1F1F1F; /* Gris Foncé */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  a {
    @apply text-primary hover:text-secondary underline hover:no-underline transition-all duration-300 ease-in-out;
  }
  
  ul {
    @apply list-disc pl-5 list-outside my-2 ml-4;	
  }
  
  ol {
    @apply list-decimal pl-5 list-outside my-2 ml-4;
  }
  
  li {
    @apply text-foreground my-2;
  }
  
  h1 {
    @apply text-2xl font-bold my-2;
  }
  h2 {
    @apply text-xl font-semibold my-2;
  }
  h3 {
    @apply text-lg font-semibold my-2;
  }

  table {
    @apply table-auto my-9;
  }
  
  td {
    @apply border border-border p-3;
  }
  
  th {
    @apply border border-border font-extrabold;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.m-card {
  @apply bg-card text-card-foreground;
}

.menu-button {
  .btn-grad {
    background-image: linear-gradient(to right, #7737B5 0%, #534BDE 51%, #7737B5 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}

.cl-card {
  @apply shadow-2xl bg-card text-card-foreground;
}

.aligned-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.aligned-list li {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.aligned-list .title {
  font-weight: bold;
  width: 150px; /* Adjust this width to your needs */
}

.aligned-list .content {
  flex-grow: 1;
}

.grecaptcha-badge { 
  visibility: hidden;
}
